/* Resets Css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Sen', sans-serif; */
}

/* Declarações Variaveis */
:root {
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-color: #22282f;
    --main-color: #13bbff;
    --other-color: #c3cad5;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;

    /* --text-color: #2d3134;
    --bg-color: #f4f8ed;
    --main-color: #f66f4d;
    --other-color: ##5b5f62; */

   
}